<!DOCTYPE html>
<html lang="pt-br" ng-app="loja">

<head>
    <meta charset="UTF-8">
    <title>Tabela</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.js"></script>

</head>

<body>

    <div>
        <label for="">Consulta: <input type="text" ng-model="criteria"></label>
    </div>
    <div ng-controller="filterController">
        <table>
            <thead>
                <th>name</th>
                <th>Sobrenome</th>
                <th>Idade</th>
            </thead>
            <tbody>
                <tr ng-repeat="friend in qtd = ( friends | filter: criteria)">
                    <td>{{friend.name}}</td>
                    <td>{{friend.lastname}}</td>
                    <td>{{friend.age}}</td>
                </tr>
            </tbody>
        </table>

        <h1>Total resultado: {{qtd.length}} </h1>
    </div>

    <script type="text/javascript">
        var app = angular.module('loja', ['ngResource']);

        // retornando o resultado para uma variavel
        app.controller("filterController", function($scope) {
            $scope.friends = [{
                    name: "Mario",
                    lastname: "Souza",
                    age: 10
                },
                {
                    name: "Maria",
                    lastname: "Quermina",
                    age: 89
                },
                {
                    name: "Paulo",
                    lastname: "Mineiro",
                    age: 55
                },
                {
                    name: "Vanessa",
                    lastname: "Pereira",
                    age: 23
                }
            ];
        });

        app.controller("todosUserController", function($scope, UserService) {
            $scope.todos = UserService.all();
        });

        // Criar serviço
        app.factory('UserService', function() {
            var users = ["Ivete", "Alex", "Paulo"]; //virai do banco de dados

            return { // métodos do servico
                all: function() {
                    return users;
                },
                primeiro: function() {
                    return users[0];
                }
            };
        });

    </script>
</body>

</html>
